<%
  collection_form_url = "#{root_url.chomp('/')}#{new_testimonial_path}?apikey=#{@user.apikey}"
%>
<ul id="sub-tabs" class="grandchild_nav">
  <li><a href="#form" class="active" rel="tab-collect">Form Preview</a></li>  
  <li><a href="#settings" rel="tab-settings">Form Settings</a></li> 
  <li><a href="#help" rel="tab-help">(help)</a></li> 
</ul> 

<div class="primary-content">

  <div id="tab-collect" class="tab-content">
    <div id="data-description">
      Send your customers to your testimonial collection form to fill out a testimonial.
      Testimonials auto-magically appear in your admin panel.
    </div>
    
    <div id="public-link">
      <span>Link to your form:</span> 
      <input id="collector-form-url" type="text" value="<%= collection_form_url %>" /> 
       <%= link_to "View this baby in action.", collection_form_url, :target => "_blank" %>
    </div>
    <div id="collector-form-view">&#160;</div>
  </div>
  
  
  <div id="tab-settings" class="tab-content">
    <%= form_for @user.tconfig, :url => '/admin/settings' do |f| %>
      <div class="round-box-top">Configure Form Settings.</div>
      <div class="round-box-body">
        <fieldset>
          <label>Custom Header Message.</label>
          <%= f.text_area :message, :style => 'width:100%;height:100px' %>
          <p class="indent">
            This text will display at the top of your public form.
            Place your company name here, offer incentives for submitting testimonials,
            or just give a nice thank you.
          </p>        
        </fieldset>
        
        <fieldset>
          <label>Customer Full Name</label>
          <p class="indent">
            A customer's full name is always required. You can optionally require 3 more fields:
          </p>
        </fieldset>
        
        <fieldset>
          <label>Access Key</label>
          <input type="text" name="tconfig[form][require_key]" value="<%= @user.tconfig.form['require_key'] %>" />
          <div class="indent">
            New testimonials cannot be created without <em>this</em> valid access key.
          </div>        
        </fieldset>
        
        <fieldset>
          <label>Require Email (Yes)</label> 
          <input type="checkbox" name="tconfig[form][email]" <%= 'CHECKED' if @user.tconfig.form['email'] %>/>
          <div class="indent">
            Customers are required to enter a valid email address.
            Use this option if you wish to openly collect testimonials from anyone interested in writing one.
            This way you can maintain contact with people you may not know.
          </div>        
        </fieldset>
        
        <fieldset>
          <label>Define Meta Data Name</label>
          <input type="text" name="tconfig[form][meta]" value="<%= @user.tconfig.form['meta'] %>" />
          <div class="indent">
            Customers are required to enter specific meta data defined below.
            <br/><b>Example:</b> If you wish to collect testimonials from only customers that have 
            made purchases, you can place the link onto your order confirmation page. Rather than using
            an email identifier of which you already have, you can pass the order confirmation code or customer_id as meta data.
          </div>        
        </fieldset>

        <div class="round-box-tabs buttons">
          <button type="submit" class="positive">Save Settings</button>
        </div>
      </div>
    <% end %>
  </div>
  
  
  <div id="tab-help" class="tab-content">
    <h3>Collecting Testimonials Publically.</h3>
    
    <h4>Using Your Public "Add Testimonial" Form.</h4>
    <div class="indent">
      Your public "add testimonial" form can be seen here: <%= link_to collection_form_url, collection_form_url %>
      <br/>You can share this link with all of your customers. Once a customer gives the required identifer information,
      his editable testimonial will be generated for him to fill out.
   </div>
    
    <h4>Tip: Pre-populating The Public Form.</h4>
    <div class="indent">
      Make it easier for customers to submit testimonials by pre-populating
      your public form with necessary identifer information.
      <b>Example:</b>
      <br/>You can restrict testimonial submission to only customers who have made a confirmed purchase
      from you by revealing your pluspanda link on the "order confirmation" page or "thank you" email.
      You can then pass identifier data into the url to pre-populate the fields.
      The pluspanda link would look something like this: 
      <div class="indent">
        You can easily pre-populate known fields by passing them in the url string.
        <br/><input style="margin:7px 0; padding:5px; width:100%" type="text" value="<%= collection_form_url %>?name=your_customers_name&key=your_private_access_key&email=customer_email&meta=custom_meta_data" />
        <br/><b>See it in action:</b> <a href="<%= collection_form_url %>&name=your_customers_name&access_key=your_private_access_key&email=customer_email&meta=custom_meta_data" target="_blank">View your pre-populated public form</a>
      </div>
    </div>
  
  </div>

</div>

