<%
  themes  = ['list','simple','legacy']
  sorters = {'Creation Date' => 'created', 'Custom Positions' => 'position' }
%>

<ul class="grandchild_nav"> 
  <li class="widget"><a href="#main" class="reload active" rel="tab-widget">Widget Preview</a></li> 
  <li class="settings"><a href="#settings" rel="tab-settings">Widget Settings</a></li> 
  <li class="show-css css"><a href="#css" rel="tab-css">Widget CSS</a></li> 
  <li class="tags"><a href="/admin/tags" rel="tab-tags">Set Categories</a></li> 
  <li class="help"><a href="#help" rel="tab-help">(help)</a></li> 
</ul> 

<div class="primary-content">

  <div id="tab-widget" class="tab-content">
    <div id="widget-wrapper">&#160;</div>
  </div>


  <div id="tab-settings" class="tab-content">
    <% form_for @user.tconfig, :url => '/admin/settings', :id => "display-settings" do |f| %>  
      <div class="round-box-top" style="text-align:center">Theme Settings</div>
      <div class="round-box-body">
        <fieldset>
          <label>Which Theme?</label> 
          <%= f.select(:theme, themes) %>
        </fieldset>
        
        <fieldset>  
          <label>Testimonials per page:</label>
          #<%= f.text_field(:per_page) %>
        </fieldset>
        
        <fieldset>
          <label>Order Testimonials by:</label>  
          <%= f.select(:sort, sorters) %>
        </fieldset>
        
        <div style="display:block; margin:10px 0;font-size:0.9em">Define custom order positions by arranging testimonials in the <a href="/admin/testimonials/manage">Add Testimonials Tab</a></div>
        <div class="round-box-tabs buttons" class="float:left;">
          <button type="submit" class="positive">Update Settings</button>
        </div> 
      </div>
    <% end %>
  </div>


  <div id="tab-css" class="tab-content">
    <%= form_tag('/admin/save_css', :method => "post", :id => 'css-form' ) do %>
      <div class="round-box-top">
        Customize CSS.
      </div>
      <div class="round-box-body">
        <div class="round-box-tabs buttons">
          <button type="submit" class="positive">Save CSS</button>
        </div>  
        <a href="#" id="load-stock-css">regenerate stock CSS</a>  
        <textarea id="widget_css" name="widget_css" style="width:95%; height:600px"><%= @css_file %></textarea>
      </div>
    <% end %>
  </div>


  <div id="tab-help" class="tab-content">
      <h3>Main Panel</h3>
      <div class="indent">
        Only testimonials marked "published" will display on your testimonials widget.

        <h4>Configuring Layout Settings</h4>
        <div class="indent">
          <b>Choosing a theme</b> determines which layout your widget will use.
          Set the <b>number of testimonials</b> you wish to display per each "page".
          <b>Order testimonials by</b> allows you to set the sort order. Default is by creation date.
          Choose custom order and then define the order by moving testimonials up and down in the <b>Manage Testimonials</b> tab.
        
          <br/><br/>
          Saving your changes will automatically update the widget view to reflect your changes.
        </div>
      </div>
        
      <h3>Edit CSS</h3>
      <div class="indent">
        Clicking on the "edit css" tab will reveal the css editor. The editor is <em>only</em> available within the main panel.
        <br/>
        <ul>
          <li>
            <b>Update View</b> will apply the current css to the widget in real time. Use this to see how your changes affect the layout.
          </li>
          <li>
            <b>Load Stock</b> will load the stock css as originally designed by pluspanda.
          </li>
          <li>
            <b>Toggle HTML view</b> will show the current HTML structure along with CSS attributes.
          </li>
        </ul>
      </div>
  </div>

</div>
