  <div style="padding: 25px;">
    <div style="margin-bottom:20px; min-width:600px">
    <% if current_user.premium %>
      <div class="alert alert-success">
        <strong>Thank you for upgrading to unlimited published testimonials!</strong>
        <br>I appreciate your support and look forward to improving pluspanda over time.
      </div>
    <% else %>
        <h3>Publish Unlimited Testimonials for $36 per year.</h3>
        <p style="margin-bottom:10px">
          Pay securely using any of the following methods:
        </p>
      </div>

      <table style="min-width:300px">
        <tr>
          <td>
            <strong>Preferred</strong>
            <%= form_tag charges_path(@user) do %>
              <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key= <%= Rails.configuration.stripe[:publishable_key] %>
                data-amount="3600"
                data-email="<%= @user.email %>"
                data-name="Pluspanda Subscription"
                data-description="$36.00 yearly"
                data-image="/images/admin/panda.png">
              </script>
            <% end %>
          </td>
          <td>
            <strong>Paypal</strong>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="EN3E2SASX9G6C">
            <input type="hidden" name="on0" value="pluspanda-email">
            <input type="hidden" name="os0" value="<%= current_user.email %>" maxlength="200">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
          </td>

          <td>
            <strong>Amazon</strong>
            <form action="https://authorize.payments.amazon.com/pba/paypipeline" method="post">
              <input type="hidden" name="amount" value="USD 36.00" >
              <input type="hidden" name="processImmediate" value="0" >
              <input type="hidden" name="signatureMethod" value="HmacSHA256" >
              <input type="hidden" name="accessKey" value="11SEM03K88SD016FS1G2" >
              <input type="hidden" name="collectShippingAddress" value="0" >
              <input type="hidden" name="recurringFrequency" value="1 year" >
              <input type="hidden" name="description" value="Pluspanda Testimonials Subscription" >
              <input type="hidden" name="amazonPaymentsAccountId" value="WAKPGHROJPXZ53M4NILK867AZ26T91AS5C7TQ9" >
              <input type="hidden" name="cobrandingStyle" value="logo" >
              <input type="hidden" name="signatureVersion" value="2" >
              <input type="hidden" name="immediateReturn" value="1" >
              <input type="hidden" name="signature" value="4m9i0gzAWh33ZRlTF3TaOGwXPHyJe7zi1yl7/2ywr98=" >
              <input type="image" src="http://g-ecx.images-amazon.com/images/G/01/asp/golden_large_subscribe_withlogo_whitebg.gif" border="0">
            </form>
          </td>
        </tr>
      </table>
      <div class="alert alert-danger" style="margin-top:20px">
        <strong>Your account is currently limited to 10 published testimonials.</strong>
        <br>New testimonials are always saved so your data is never lost but you can only ever display 10 testimonials on your website.
      </div>
    <% end %>

  <div class="install-page">
    <h3>Install Pluspanda</h3>
    <stong>Place This Code Where You Want Your Testimonials to Display:</stong>
    <p>
      <textarea style="height:200px;"><div id="plusPandaYes"></div>
<%= embed_code(@user.apikey).html_safe %></textarea>
    </p>
    <h4>TIP: Check out your sample page!</h4>
    <p>
      You can view the page source to see where your code should go. <a href="/users/<%= current_user.id %>/widget/published" target="_blank"> Sample Page</a>
    </p>
  </div>
</div>


<style>
h2, h3 {
  color:#444;
  margin-bottom:15px;
  }
  p {
    line-height:1.5em;
  }
.tab-content {
  width:750px;
}
.install-page {margin-top:20px;}
.install-page textarea {
  width:100%;
  display:block;
  padding:10px;
  font-size:16px;
  font-weight:bold;
  font-family:courier;
  color:#444;
  background-color:#FFFFCC;

}
</style>
