<style>
h2, h3 {
  color:#444;
  margin-bottom:15px;
  }
  p {
    line-height:1.5em;
  }
.tab-content {
  width:750px;
}
.install-page {margin-top:20px;}
.install-page textarea {
  width:100%;
  display:block;
  padding:10px;
  font-size:16px;
  font-weight:bold;
  font-family:courier;
  color:#444;
  background-color:#FFFFCC;

}
</style>

<div style="padding: 25px;">
  <div style="margin-bottom:20px; min-width:600px">
  <% if current_user.premium %>
    <div class="alert alert-success">
      <strong>Thank you for upgrading to unlimited published testimonials!</strong>
      <br>I appreciate your support and look forward to improving pluspanda over time.
    </div>
  <% else %>
    <h3>Publish Unlimited Testimonials for $36 per year.</h3>
    <div class="alert alert-danger" style="margin-top:20px">
      <p><strong>Your account is currently limited to 10 published testimonials.</strong></p>
      <p>New testimonials are always saved so your data is never lost.</p>
      <p>But you can only ever display 10 testimonials on your website.</p>
      <p>
        Pay securely with paypal or with credit card:
      </p>
      <table style="width: 50%; margin-top:20px;">
        <tr>
          <td>
            <strong>Paypal</strong>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="EN3E2SASX9G6C">
            <input type="hidden" name="on0" value="pluspanda-email">
            <input type="hidden" name="os0" value="<%= current_user.email %>" maxlength="200">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
          </td>
          <td>
            <strong>Credit Card</strong>
            <%= form_tag charges_path(@user) do %>
              <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key= <%= Rails.configuration.stripe[:publishable_key] %>
                data-amount="3600"
                data-email="<%= @user.email %>"
                data-name="Pluspanda Subscription"
                data-description="$36.00 yearly"
                data-image="/images/admin/panda.png">
              </script>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  <% end %>

  <div class="install-page">
    <h3>Install Pluspanda</h3>
    <stong>Place This Code Where You Want Your Testimonials to Display:</stong>
    <p>
      <textarea style="height:200px;"><div id="plusPandaYes"></div><%= embed_code(@user.apikey).html_safe %></textarea>
    </p>
    <h4>TIP: Check out your sample page!</h4>
    <p>
      You can view the page source to see where your code should go. <a href="/users/<%= current_user.id %>/widget/published" target="_blank"> Sample Page</a>
    </p>
  </div>
</div>
