<div id="side-wrapper">
  <ul class="sub-tabs"> 
    <li><a href="<%= admin_testimonials_path %>?filter=new" class="active" rel="tab-data" title="Testimonials created in the last 48 hours.">New</a></li> 
    <li><a href="<%= admin_testimonials_path %>?filter=published" rel="tab-data" title="Published testimonials publically viewable in your widget and other testimonial tools.">Published</a></li> 
    <li><a href="<%= admin_testimonials_path %>?filter=hidden" rel="tab-data" title="Unpublished testimonials not included in your widget. (hidden)">Hidden</a></li> 
    <li><a href="<%= admin_testimonials_path %>?filter=trash" rel="tab-data" title="Trashed testimonials are permamently deleted after 7 days.">Trash</a></li> 
    <li><a href="#help" rel="tab-help">(help)</a></li> 
  </ul> 
  <div class="options-box">
    
  </div>
</div>


<div class="primary-content">

  <div id="tab-data" class="tab-content">
    <div class="data-description">Testimonials created in the last 48 hours.</div>
    
    <div class="admin-new-testimonials-list">
      <ul id="with-selected">
        <li><a href="#" class="select all">+ All</a></li>
        <li><a href="#" class="select none">- None</a></li>
        <li>Actions: </li>
        
        <li><a href="/admin/testimonials/update?do=publish" class="do">Publish</a></li>
        <li><a href="/admin/testimonials/update?do=hide" class="do">Hide</a></li>
        <li><a href="/admin/testimonials/update?do=lock" class="do">Lock</a></li>
        <li><a href="/admin/testimonials/update?do=unlock" class="do">Unlock</a></li>
        <li><a href="/admin/testimonials/update?do=trash" class="do">Trash</a></li>
        
        <li class="right untrash"><a href="/admin/testimonials/update?do=untrash" class="do">UNTRASH</a></li>
        <li class="right save-positions" title="Saves the current order the testimonials are in."><%= link_to "Save Positions", "#", :class => "save-positions" %></li>
        <li class="right new-testimonial" title="Create a new testimonial."><%= link_to 'New Testimonial', new_testimonial_path, :rel => 'facebox', :class => 'positive' %></li>
      
      
      </ul>
            
      <table class="t-data">
        <thead>
          <tr>
            <th width="25px"> </th>
            <th width="25px"> </th>
            <th width="60px">Pos</th>
            <th width="75px">Live?</th>
            <th width="75px">Lock?</th>
            <th width="150px">Name</th>
            <th width="150px">Company</th>
            <th width="150px">Category</th>
            <th width="120px">Updated</th>
            <th width="120px">Created</th>
            <th width="25px"> </th>
            <th width="40px"> </th>
          </tr>
        </thead>
        <tbody id="t-data">
          
        </tbody>
      </table>

      <div id="share-window" style="display:none">
        <div class="share-data">
          <h3>Public Testimonial Editing Link</h3>
          
          Share this link with the person you want to fill out this testimonial.
          <input type="text" value="url"/>
          
          <br/><b>Note:</b> Anyone with this link will be able to edit the testimonial.
          <br/>Be sure to lock the testimonial when you are satisfied with the edits. 
        </div>
      </div>
    </div>

  </div>
  
  
  <div id="tab-help" class="tab-content">
    <h3>Adding &amp; Editing Testimonials.</h3>
    <div class="indent">
      Testimonials are organized into 3 tabs: <b>NEW</b>, <b>PUBLISHED</b>, <b>HIDDEN</b>.
      <br/>Navigate to a particular tab to learn more about that tab.
    </div>  
    
    <div class="indent">
      <h4>Adding a New Testimonial.</h4>
      <div class="indent">
        Click on <b>"New Testimonial"</b> link in the <b>NEW TAB</b>. 
      </div>
      
      <h4>Editing a Testimonial.</h4>
      <div class="indent">
        Each testimonial is listed as a table row. You can edit, update, and delete testimonials, lock testimonials so they can no longer be edited,
        and publish/unpublish testimonials.
      </div>

      <h4>Reordering Testimonials.</h4>
      <div class="indent">
        If you want to display your published testimonials in a particular order,
        just go to the <b>PUBLISH TAB</b>, reorder the testimonials using the blue "move" icons at the leftmost end of each row,
        then make sure to click "Save Positions."
        <br/> Tip: The top table header titles are clickable and will re-order the testimonials based on the clicked field.
      </div>
      
      
      <h4>Linking to an Editable Testimonial.</h4>
      <div class="indent">
        Each testimonial row has a "share" link. 
        The panel reveals a sharable link that you can give to your customer to freely edit that testimonial.
      </div>
    </div>
  </div>

</div>

