
<div style="border:1px dashed #333;">
    <%= form_for @user.tconfig, :url => '/admin/settings', :html => { :id => nil, :rel => "form.settings" } do |f| %>  
      <table>
      <td>  
        <label>Testimonials per page:</label>
        #<%= f.text_field(:per_page, :id => nil, :class => "tconfig_per_page", :maxlength => 3, :style => "width:30px" ) %>
      </td>

      <td>
        <label>Order Testimonials by:</label>  
         <%= f.select(:sort, Tconfig.sorters, {}, :id => nil, :class => "tconfig_sort" ) %>
          <span>(you can order testimonials in the <b>Manage Testimonials</b> section)</span>
      </td>
      
      <td>
        <button type="submit" class="positive">Update Settings</button>
      </td>

    </table>
    <% end %>

    <b>My installed themes:</b>
    <% @user.themes.each do |theme| %>
      <%= Theme.names[theme.name] %>, 
    <% end %>
        
</div>

<ul id="sub-tabs" class="grandchild_nav"> 
  <li><a href="#published" class="active" rel="tab-widget">Published View</a></li> 
  <li><a href="#staged" rel="tab-preview">Staged View</a></li> 
  <li><a href="#html" rel="tab-html">Edit Staged HTML</a></li> 
  <li><a href="#css" rel="tab-css">Edit Staged CSS</a></li> 
  <li><a href="#help" rel="tab-help">(help)</a></li> 
</ul> 

<div class="primary-content">

  <div id="tab-widget" class="tab-content">
    <div id="data-description">
      This is how your testimonials widget looks in published mode.
    </div>
    <div id="widget-published-wrapper">&#160;</div>
  </div>

  <div id="tab-preview" class="tab-content">
    <div id="data-description">
      This widget displays all the code customizations you currently have saved.
      <br/>You'll need to <a href="/admin/theme/publish" id="theme-publish">Publish</a> your changes once you are happy with this preview.
    </div>
    <div id="widget-staged-wrapper">&#160;</div>
  </div>
  
  <div id="tab-html" class="tab-content">
    <div id="data-description">
      This is the complete HTML used to style your widget. View your HTML changes in the <b>Staged View Tab</b>.
    </div>  
    
    <%= form_tag('/admin/theme/wrapper-html', :method => :post, :id => 'wrapper-form' ) do %>
      <div class="round-box-top">
        Customize Wrapper HTML.
      </div>
      <div class="round-box-body">
        <div class="round-box-tabs buttons">
          <button type="submit" class="positive">Save HTML</button>
        </div>
        <a href="/admin/theme/wrapper-html" id="refresh-html">Refresh Staged HTML</a>
         | <a href="/admin/theme/wrapper-html/original" id="load-stock-html">Load Original HTML</a>  
        <textarea id="widget_html" name="data" style="width:95%; height:600px"><%= @user.get_attribute("wrapper.html").staged %></textarea>
      </div>
    <% end %>
      
  </div>
  
  <div id="tab-css" class="tab-content">
    <div id="data-description">
      This is the complete CSS used to style your widget. View your CSS changes in the <b>Staged View Tab</b>.
    </div>  
    <%= form_tag('/admin/theme/style-css', :method => :post, :id => 'css-form' ) do %>
      <div class="round-box-top">
        Customize CSS.
      </div>
      <div class="round-box-body">
        <div class="round-box-tabs buttons">
          <button type="submit" class="positive">Save CSS</button>
        </div>  
        <a href="/admin/theme/style-css" id="refresh-css">Refresh Staged CSS</a>
         | <a href="/admin/theme/style-css/original" id="load-stock-css">Load Original CSS</a>  
        <textarea id="widget_css" name="data" style="width:95%; height:600px"><%= @user.get_attribute("style.css").staged %></textarea>
      </div>
    <% end %>
  </div>

  
  <div id="tab-help" class="tab-content">
    <h3>Widget Preview</h3>
    <div class="indent">
      <p>
        The widget preview is... a preview of your widget!
        You real life widget, installed just as you would install it.
      </p>
      <p>
        Remember only testimonials marked <b>published</b> will display in the widget.
      </p>
      
      <h4>Editing Your Widget Design is easy.</h4>
      <div class="indent">
        <b>Choosing a theme</b> determines which layout your widget will use.
        Set the <b>number of testimonials</b> you wish to display per each "page".
        <b>Order testimonials by</b> allows you to set the sort order. Default is by creation date.
        Choose custom order and then define the order by moving testimonials up and down in the <b>Manage Testimonials</b> tab.
      
        <br/><br/>
        Saving your changes will automatically update the widget view to reflect your changes.
      </div>
    </div>
      
    <h3>Edit Widget CSS</h3>
    <div class="indent">
      Clicking on the "edit css" tab will reveal the css editor.
      <br/>
      <ul>
        <li>
          <b>Load Stock CSS</b> will load the stock css as originally designed by pluspanda.
        </li>
        <li>
          <b>Toggle HTML view</b> will show the current HTML structure along with CSS attributes.
        </li>
      </ul>
    </div>

    <h3>Set Categories</h3>
    <div class="indent">
      Category tags are temporary offline =\.
    </div>        
  </div>

</div>
