#layout-editor
  .base-padding
    .settings
      = form_for @user.tconfig, :url => "/users/#{ current_user.id }/settings", :html => { :id => "theme-settings-form", :rel => "form.settings", class: "form-horizontal" } do |f|
        %button{type: "submit", style: "display:none" }
        %h3 Settings
        .form-group
          .col-md-4
            %label Testimonials per page
          .col-md-8
            = f.text_field(:per_page, :id => nil, :class => "tconfig_per_page form-control", :maxlength => 3, :style => "width:50px" )
        .form-group
          .col-md-4
            %label Order Testimonials by
          .col-md-8
            = f.select(:sort, Tconfig.sorters, {}, :id => nil, :class => "tconfig_sort form-control" )
            %small{ style: "font-size:0.9em" } Order testimonials in the <strong>Manage Testimonials</strong> section
    .themes
      %h3 Themes
      = form_for Theme.new, :url => "/users/#{ current_user.id }/theme", html: { id: "theme-change-form" } do |f|
        - ThemePackage.themes.each do |name|
          %div{ class: (@theme.theme_name == name) ? "active" : false }= name

    %div{style: "margin-top:30px;"}
      %a.btn.btn-default.btn-lg{ href: "/admin/editor" }
        Launch Theme Editor

    .data-description.buttons{style: "margin-top:30px;"}
      %strong NOTE
      %br
      All changes made only affect the "staging" area. This allows you to freely test changes without affecting your production widget.
      Click "Publish changes" to clone the staging widget into the production widget.
      %p{style: "margin-top:10px;"}
        %a#theme-publish.btn.btn-success.btn-lg{ href: "/users/#{ current_user.id }/theme/publish" } Publish Changes

#layout-previewer
  = render partial: "admin/widget_previewer"
