
<ul id="sub-tabs"> 
  <li><a href="#published" class="active" rel="tab-widget">Published View</a></li> 
  <li><a href="#staged" rel="tab-preview">Staged View</a></li> 
  <li><a href="#html" rel="tab-html">Customize</a></li> 
  <li><a href="#help" rel="tab-help">(help)</a></li> 
</ul> 

<div class="primary-content">

  <div id="tab-widget" class="tab-content">
    <div id="data-description">
      This is how your testimonials widget looks in published mode.
    </div>
    <div id="widget-published-wrapper">&#160;</div>
  </div>

  <div id="tab-preview" class="tab-content">
    <div id="data-description" class="buttons">
      This widget displays all the code customizations you currently have saved.
      <br/>Click "Publish Changes" to officially update published mode.
      <br/><br/>
      <a href="/admin/theme/publish" id="theme-publish" class="positive">Publish Changes</a> 
    </div>
    <div id="widget-staged-wrapper">&#160;</div>
  </div>
  
  <div id="tab-html" class="tab-content">
    
    <ul id="js_tabs_list" class="tab-beans">
      <li><a href="#html" rel="tab-html">Widget Settings</a></li> 
      <li><a href="#html" rel="tab-html">Edit Wrapper HTML</a></li> 
      <li><a href="#html" rel="tab-testimonial-html">Edit Testimonial HTML</a></li> 
      <li><a href="#css" rel="tab-css">Edit CSS</a></li>
    </ul>
    
    <div id="js_tabs_wrapper">
      
      <div id="settings-panel" class="tab_unit">
        
        <div id="data-description">
          Edit basic widget settings here. View your changes in the <b>Staged View Tab</b>.
        </div>
        
      <%= form_for @user.tconfig, :url => '/admin/settings', :html => { :id => nil, :rel => "form.settings" } do |f| %>  
        <fieldset>
          <label>Testimonials per page:</label>
          #<%= f.text_field(:per_page, :id => nil, :class => "tconfig_per_page", :maxlength => 3, :style => "width:30px" ) %>
        </fieldset>
        
        <fieldset>
          <label>Order Testimonials by:</label>  
           <%= f.select(:sort, Tconfig.sorters, {}, :id => nil, :class => "tconfig_sort" ) %>
          <p>(you can order testimonials in the <b>Manage Testimonials</b> section)</p>
        </fieldset>
        
        <fieldset class="buttons">
          <button type="submit" class="positive">Update Settings</button>
        </fieldset>
      <% end %>

        <ul id="installed-themes">
          <li><b>Installed Themes:</b></li>
        <% @user.themes.each do |theme| %>
          <% if theme.staged == true %>
            <li class="theme"><%= link_to Theme.names[theme.name], "/admin/theme/#{theme.id}/stage", :class => "active", :title => "Click to stage this theme for editing." %></li>
          <% else %>
            <li class="theme"><%= link_to Theme.names[theme.name], "/admin/theme/#{theme.id}/stage", :title => "Click to stage this theme for editing." %></li>
          <% end %>
        <% end %>
          <li style="font-size:12px">(install more themes in the <a href="#/theme">Theme Gallery</a>)</li>
        </ul>
      </div>
    
      <div class="tab_unit">
        <div id="data-description">
          This is the Wrapper HTML used to style your widget. View your HTML changes in the <b>Staged View Tab</b>.
        </div>
      
        <%= form_tag('/admin/theme/wrapper-html', :method => :post, :id => 'wrapper-form', :class => "editor-form" ) do %>
          <div class="editor-panel buttons">
            <button type="submit" class="positive">Save HTML</button>
            <ul>
              <li><a href="/admin/theme/wrapper-html" id="refresh-wrapper">Refresh Staged HTML</a></li>
              <li><a href="/admin/theme/wrapper-html/original" id="load-stock-wrapper">Load Original HTML</a></li>
            </ul>
        
            <ul class="tokens">
              <li><b>Wrapper Tokens</b></li>
              <li><input type="text" value="{{testimonials}}" /></li>
              <li><input type="text" value="{{tag_list}}" /></li>
              <li><input type="text" value="{{count}}" /></li>
              <li><input type="text" value="{{form_link:Link Text}}" /></li>
            </ul> 
          </div>
      
          <textarea id="editor_wrapper" name="data" style="width:95%; height:600px"><%= @user.get_attribute("wrapper.html").staged %></textarea>
        <% end %>
      </div>

  
      <div id="tab-testimonial-html" class="tab_unit">
        <div id="data-description">
          This is the Testimonial HTML used to style each testimonial. View your HTML changes in the <b>Staged View Tab</b>.
        </div>  
    
        <%= form_tag('/admin/theme/testimonial-html', :method => :post, :id => 'testimonial-form', :class => "editor-form" ) do %>
          <div class="editor-panel buttons">
            <button type="submit" class="positive">Save HTML</button>
            <ul>
              <li><a href="/admin/theme/testimonial-html" id="refresh-testimonial">Refresh Staged HTML</a></li>
              <li><a href="/admin/theme/testimonial-html/original" id="load-stock-testimonial">Load Original HTML</a></li>
            </ul>
            <ul class="tokens">
              <li><b>Testimonial Tokens</b></li>
              <% Testimonial.api_attributes.each do |a| %>
                <li><input type="text" value="{{<%= a %>}}" /></li>
              <% end%>
            </ul>
          </div>
      
          <textarea id="editor_testimonial" name="data" style="width:95%; height:600px"><%= @user.get_attribute("testimonial.html").staged %></textarea>
        <% end %>

      </div>
    
      <div id="tab-css" class="tab_unit">
        <div id="data-description">
          This is the complete CSS used to style your widget. View your CSS changes in the <b>Staged View Tab</b>.
        </div>  
    
        <%= form_tag('/admin/theme/style-css', :method => :post, :id => 'css-form', :class => "editor-form" ) do %>
          <div class="editor-panel buttons">
            <button type="submit" class="positive">Save CSS</button>
            <ul>
              <li><a href="/admin/theme/style-css" id="refresh-css">Refresh Staged CSS</a></li>
              <li><a href="/admin/theme/style-css/original" id="load-stock-css">Load Original CSS</a></li>
            </ul>
          </div>  
          <textarea id="editor_css" name="data" style="width:95%; height:600px"><%= @user.get_attribute("style.css").staged %></textarea>
        <% end %>

      </div>

    </div>

  </div>


  <div id="tab-help" class="tab-content">
    <h3>Overview</h3>
     <div class="indent">
       The "Build Widget" section is used to configure and edit all parts of how your widget will display.
       We will go through the tabs one by one and explain the functionality.
       <br/>
       The top portion controls some basic settings for your widget.
       # of testimonials sets how many testimonials display at a time per page.
       You can also order the testimonials by date or custom positions.
     </div>  
     <h3>Installed Themes</h3>
     <div class="indent">
       The installed themes list shows all the themes you currently have installed on your account.
       To install more themes go to the top right "Theme Gallery".
       The orange highlighted theme is the theme that is currently "staged".
   
       <h5>Staging</h5>
       The staged theme is the theme you are editing and the theme that shows up in the "staged view".
       Any edits you make to the HTML or CSS will show immediately in the staged view.
       However it will NOT affect the published view at all.
       Pluspanda does not keep track of which theme is published only which theme is staged.
   
       <h5>Publishing</h5>
       To publish any changes to your widget you simply go to the staged view, verify your changes, and click "publish changes".
       Note that publishing changes will always mean "publish my staging edits".
       In other words you always work in the staging environment and never directly touch the published view.
     </div>
 
     <h3>Published View Tab</h3>
     <div class="indent">
       <p>
         This tab shows a published view of your widget, the way it will look when you install it on your website.
       </p>
       <p>
         To update your published view you must work with your staged view first, verify your changes, and then click
         "publish changes" located in the "Staged View" tab.
       </p>
       <p>
         Remember only testimonials marked <b>published</b> will display in the widget.
       </p>
     </div>
 
     <h3>Staged View Tab</h3>  
     <div class="indent">
       This tab shows a staged view of your widget. It automatically changes any and every time
       you make edits to the HTML or CSS. This allows you to preview and verify your customizations before
       you publish them.
     </div>

     <h3>Edit Wrapper HTML Tab</h3>  
     <div class="indent">
       The wrapper HTML is the over all HTML template that makes up your widget.
       Each testimonial gets displayed <em>inside</em> of your wrapper HTML.
       To the right of the editor there are a list of tokens.
       Using tokens allows you to place pluspanda data wherever you wish.
       <br/>The {{testimonials}} token is used to place the list of testimonials in your HTML
       <br/>The {{count}} token will output a count of your current total number of testimonials.
       <br/>The {{form_link:Add Testimonial}} token is new in pluspanda. It creates a link on your widget
       that will load your collection form right on your own website.
   
       <br/><br/>
       <ul>
         <li>
           <b>Refresh Staged HTML</b> will refresh the editor with the latest saved copy.
         </li>
         <li>
           <b>Load Original HTML</b> will load the most recent HTML from the original theme.
         </li>
       </ul>    
     </div>

     <h3>Edit Testimonial HTML Tab</h3>  
     <div class="indent">
       The testimonial HTML is the HTML used to display <em>each</em> testimonial.
       Each testimonial will display inside of the wrapper HTML wherever you place your
       {{testimonials}} token.
   
       <br/>
       The testimonials tab also has its own list of tokens to the right.
       These are all the attributes of a testimonial. Use them to output the different types of testimonial
       data.
     </div>
 
     <h3>Edit CSS HTML Tab</h3>  
     <div class="indent">
       Place all your CSS inside this editor and pluspanda will serve it for you.
     </div>
  
   </div>
   
</div>
<style type="text/css">
  .indent {
    width:600px;
  }
</style>

<script type="text/javascript">
  $(function(){
    simpleTabs.init($("#js_tabs_list"), $("#js_tabs_wrapper"));
  })
</script>