
<div style="border:1px dashed #333;">
  Installed Theme: <strong><%= @user.tconfig.theme %></strong>
    <%= link_to "Select a new theme", "#" %>
</div>

<ul class="grandchild_nav"> 
  <li class="widget"><a href="#main" class="active" rel="tab-widget" id="widget-tab-link">Widget Preview</a></li> 
  <li class="show-css css"><a href="#css" rel="tab-html">Widget HTML</a></li> 
  <li class="show-css css"><a href="#css" rel="tab-css">Widget CSS</a></li> 
  <li class="help"><a href="#help" rel="tab-help">(help)</a></li> 
</ul> 

<div class="primary-content">

  <div id="tab-widget" class="tab-content">
    <div id="data-description">
      This is your testimonials widget in action. <%= link_to "Edit your display settings", "#", { :class => "js-show-settings", :rel => "#settings_form" } %>
      to update your widget.
    </div>
    <div id="widget-wrapper">&#160;</div>
  </div>

  <div id="tab-css" class="tab-content">
    <div id="data-description">
      This is the complete CSS used to style your widget. View your CSS changes in the <b>Widget Preview Tab</b>.
    </div>  
    <%= form_tag('/admin/theme/css', :method => :post, :id => 'css-form' ) do %>
      <div class="round-box-top">
        Customize CSS.
      </div>
      <div class="round-box-body">
        <div class="round-box-tabs buttons">
          <button type="submit" class="positive">Save CSS</button>
        </div>  
        <a href="/admin/theme/css/stock" id="load-stock-css">regenerate stock CSS</a>  
        <textarea id="widget_css" name="widget_css" style="width:95%; height:600px"><%= @user.theme_css %></textarea>
      </div>
    <% end %>
  </div>

  
  <div id="tab-help" class="tab-content">
      <h3>Widget Preview</h3>
      <div class="indent">
        <p>
          The widget preview is... a preview of your widget!
          You real life widget, installed just as you would install it.
        </p>
        <p>
          Remember only testimonials marked <b>published</b> will display in the widget.
        </p>
        
        <h4>Editing Your Widget Design is easy.</h4>
        <div class="indent">
          <b>Choosing a theme</b> determines which layout your widget will use.
          Set the <b>number of testimonials</b> you wish to display per each "page".
          <b>Order testimonials by</b> allows you to set the sort order. Default is by creation date.
          Choose custom order and then define the order by moving testimonials up and down in the <b>Manage Testimonials</b> tab.
        
          <br/><br/>
          Saving your changes will automatically update the widget view to reflect your changes.
        </div>
      </div>
        
      <h3>Edit Widget CSS</h3>
      <div class="indent">
        Clicking on the "edit css" tab will reveal the css editor.
        <br/>
        <ul>
          <li>
            <b>Load Stock CSS</b> will load the stock css as originally designed by pluspanda.
          </li>
          <li>
            <b>Toggle HTML view</b> will show the current HTML structure along with CSS attributes.
          </li>
        </ul>
      </div>

      <h3>Set Categories</h3>
      <div class="indent">
        Category tags are temporary offline =\.
      </div>        
  </div>

</div>
