<div class="admin-new-testimonials-list btn-toolbar" style="background:#eee; padding:12px; border:1px solid #ccc">
  <div class="btn-group">
    <a href="#" class="select all btn">+ All</a>
    <a href="#" class="select none btn">- None</a>
  </div>

  <div id="with-selected" class="btn-group">
    <a href="/admin/testimonials/update?do=publish" class="btn do">Publish</a>
    <a href="/admin/testimonials/update?do=hide" class="btn do">Hide</a>
    <a href="/admin/testimonials/update?do=lock" class="btn do">Lock</a>
    <a href="/admin/testimonials/update?do=unlock" class="btn do">Unlock</a>
    <a href="/admin/testimonials/update?do=trash" class="btn do">Trash</a>
    <a href="/admin/testimonials/update?do=untrash" class="btn do">UNTRASH</a>
    <a href="#" class="btn save-positions">Save Positions</a>
  </div>
  <div class="btn-group" style="float:right">
    <a href="<%= new_testimonial_path %>" class="btn btn-success positive" rel="facebox">New Testimonial</a>
  </div>
</div>

<div>
  <div class="btn-toolbar">
    <div class="btn-group manage-testimonial-filters">
      <a href="<%= admin_testimonials_path %>?filter=new" class="active btn" rel="tab-data" title="Testimonials created in the last 48 hours.">New</a> 
      <a href="<%= admin_testimonials_path %>?filter=published" class="btn" rel="tab-data" title="Published testimonials publically viewable in your widget and other testimonial tools.">Published</a> 
      <a href="<%= admin_testimonials_path %>?filter=hidden" class="btn" rel="tab-data" title="Unpublished testimonials not included in your widget. (hidden)">Hidden</a> 
      <a href="<%= admin_testimonials_path %>?filter=trash" class="btn" rel="tab-data" title="Trashed testimonials are permamently deleted after 7 days.">Trash</a> 
      <div class="btn data-description" style="background:#FFF; border:0; margin-left:10px;">Testimonials created in the last 48 hours.</div>
    </div> 
  </div>
</div>


<table class="t-data">
  <thead>
    <tr>
      <th width="25px"> </th>
      <th width="25px"> </th>
      <th width="60px">Pos</th>
      <th width="75px">Live?</th>
      <th width="75px">Lock?</th>
      <th width="150px">Name</th>
      <th width="150px">Company</th>
      <th width="150px">Category</th>
      <th width="120px">Updated</th>
      <th width="120px">Created</th>
      <th width="25px"> </th>
      <th width="40px"> </th>
    </tr>
  </thead>
  <tbody id="t-data">
    
  </tbody>
</table>

<div id="share-window" style="display:none">
  <div class="share-data">
    <h3>Public Testimonial Editing Link</h3>
    
    Share this link with the person you want to fill out this testimonial.
    <input type="text" value="url"/>
    
    <br/><b>Note:</b> Anyone with this link will be able to edit the testimonial.
    <br/>Be sure to lock the testimonial when you are satisfied with the edits. 
  </div>
</div>
