<p>
  <b>email:</b>
  <%=h @user.email %>
</p>

<p>
  <b>Login count:</b>
  <%=h @user.login_count %>
</p>

<p>
  <%= link_to 'Go To Admin Panel', '/admin' %>
</p>

<p>
  <%= link_to 'Edit', edit_account_path, :rel => 'facebox' %>
</p>
<%= link_to 'Logout', 'admin/logout' %>
