<p>
  <b>email:</b>
  <%=h @user.email %>
</p>

<p>
  <b>Login count:</b>
  <%=h @user.login_count %>
</p>

<%= link_to 'Go To Admin Panel', '/admin' %>
<br/><br/>
<%= link_to 'Edit', edit_account_path, :rel => 'facebox' %>
<br/><br/>
<%= link_to 'Logout', '/user_sessions/destroy' %>
