<div id="side-wrapper">

</div>

<div class="primary-content">
  
  <div id="tab-main" class="tab-content">

    <div class="data-description">
      Re-order tweets by dragging them into a new position.
    </div>

    <h3>Enter tweet URL or ID</h3>
    <%= form_tag "/twitter/tweets", :id => "new_tweet", :class=>"ajax" do %>
      <input type="text" name="url" /> <button>Add Tweet</button>
    <% end %>
    
    <div id="tweet_list" class="published">
    <% @tweets.each do |tweet| %>
    <%  data = tweet.data_json %>
      <div id="tweet_<%= tweet.id %>" class="tweet">
        <a href="#" class="trash" rel="<%= tweet.id %>">X</a>
        <img src="<%= data["user"]["profile_image_url"]%>" />
        <div class="body">
          <div class="user">
            <a href="#">@<%= data["user"]["screen_name"] %></a>
            <%= data["user"]["name"] %>
            <%= data["user"]["location"] %>
          </div>
          <div class="text">
            <%= data["text"] %>
          </div>
          <div class="date">
            - <%= data["created_at"] %>
          </div>
        </div>
      </div>
    <% end %>  
    </div>
  
  </div>    
    
</div>
