
<div id="side-wrapper">
  <ul class="sub-tabs"> 
    <li><a href="#published" class="active" rel="tab-widget">Published View</a></li> 
    <li><a href="#staged" rel="tab-preview">Staged View</a></li> 
    <li><a href="#settings" rel="tab-settings">Settings</a></li> 
    <li><a href="#html" rel="tab-customize">Customize</a></li> 
    <li><a href="#help" rel="tab-help">(help)</a></li> 
  </ul> 
</div>


<div class="primary-content">

  <div id="tab-widget" class="tab-content">
    <div class="data-description">
      This is how your tweet widget looks in published mode.
    </div>
    <div id="widget-published-wrapper">&#160;</div>
  </div>

  <div id="tab-preview" class="tab-content">
    <div class="data-description buttons">
      <a href="/twitter/theme/publish" id="theme-publish" class="positive">Publish Changes</a> 
      This widget displays all the code customizations you currently have saved.
      <br/>Click "Publish Changes" to officially update published mode.
    </div>
    <div id="widget-staged-wrapper">&#160;</div>
  </div>
  
    
  <div id="tab-settings" class="tab-content">
    
    <div class="data-description">
      Edit basic widget settings here. View your changes in the <b>Staged View Tab</b>.
    </div>
    
    <strong>Installed themes</strong>
    <ul id="installed-themes">
    <% @user.tweet_themes.each do |theme| %>
      <% if theme.staged == true %>
        <li class="theme"><%= link_to TweetTheme.names[theme.name], "/admin/twitter/theme/#{theme.id}/stage", :class => "active", :title => "Click to stage this theme for editing." %></li>
      <% else %>
        <li class="theme"><%= link_to TweetTheme.names[theme.name], "/admin/twitter/theme/#{theme.id}/stage", :title => "Click to stage this theme for editing." %></li>
      <% end %>
    <% end %>
    </ul>
    <p style="line-height:1.5em;">
      The highlighted theme is the currently staged theme. Stage a new theme by clicking the theme name.
      <br/>You can also install more themes in the <a href="#/theme">Theme Gallery</a>
    </p>
    
    <%= form_for @user.tweet_setting, :url => '/twitter/settings', :html => { :id => nil, :rel => "form.settings" } do |f| %>  
      <fieldset>
        <label>Tweets per page:</label>
        #<%= f.text_field(:per_page, :id => nil, :class => "tconfig_per_page", :maxlength => 3, :style => "width:30px" ) %>
      </fieldset>
    
      <fieldset>
        <label>Order tweets by:</label>  
         <%= f.select(:sort, Tconfig.sorters, {}, :id => nil, :class => "tconfig_sort" ) %>
        <p>(you can order tweets in the <b>Manage Testimonials</b> section)</p>
      </fieldset>
    
      <fieldset class="buttons">
        <button type="submit" class="positive">Update Settings</button>
      </fieldset>
    <% end %>
    
  </div>
    
  
  <div id="tab-customize" class="tab-content">
    
    <ul id="js_tabs_list" class="tab-beans">
      <li><a href="#css" rel="tab-css">Edit CSS</a></li>
      <li><a href="#html" rel="tab-html">Edit Wrapper HTML</a></li> 
      <li><a href="#html" rel="tab-testimonial-html">Edit Tweet HTML</a></li> 
    </ul>
    
    <div id="js_tabs_wrapper">
    
      <div id="tab-css" class="tab_unit">
        <div class="data-description">
          This is the complete CSS used to style your widget. View your CSS changes in the <b>Staged View Tab</b>.
        </div>  
    
        <%= form_tag('/twitter/theme/style-css', :method => :post, :id => 'css-form', :class => "editor-form" ) do %>
          <div class="editor-panel buttons">
            <button type="submit" class="positive">Save CSS</button>
            <ul>
              <li><a href="/twitter/theme/style-css" id="refresh-css">Refresh Staged CSS</a></li>
              <li><a href="/twitter/theme/style-css/original" id="load-stock-css">Load Original CSS</a></li>
            </ul>
          </div>  
          <textarea id="editor_css" name="data" style="width:95%; height:600px"><%= @theme.get_attribute("style.css").staged %></textarea>
        <% end %>
      </div>
      
      <div class="tab_unit">
        <div class="data-description">
          This is the Wrapper HTML used to style your widget. View your HTML changes in the <b>Staged View Tab</b>.
        </div>
      
        <%= form_tag('/twitter/theme/tweet-wrapper-html', :method => :post, :id => 'wrapper-form', :class => "editor-form" ) do %>
          <div class="editor-panel buttons">
            <button type="submit" class="positive">Save HTML</button>
            <ul>
              <li><a href="/twitter/theme/tweet-wrapper-html" id="refresh-wrapper">Refresh Staged HTML</a></li>
              <li><a href="/twitter/theme/tweet-wrapper-html/original" id="load-stock-wrapper">Load Original HTML</a></li>
            </ul>
          </div>
      
          <textarea id="editor_wrapper" name="data" style="height:600px"><%= @theme.get_attribute("tweet-wrapper.html").staged %></textarea>
        <% end %>
        
        <ul class="tokens" style="display:none">
          <li><b>Wrapper Tokens</b></li>
          <li><input type="text" value="{{testimonials}}" /></li>
          <li><input type="text" value="{{tag_list}}" /></li>
          <li><input type="text" value="{{count}}" /></li>
          <li><input type="text" value="{{form_link:Link Text}}" /></li>
        </ul>
      </div>

  
      <div id="tab-testimonial-html" class="tab_unit">
        <div class="data-description">
          This is the Tweet HTML used to style each tweet. View your HTML changes in the <b>Staged View Tab</b>.
        </div>  
    
        <%= form_tag('/twitter/theme/tweet-html', :method => :post, :id => 'testimonial-form', :class => "editor-form" ) do %>
          <div class="editor-panel buttons">
            <button type="submit" class="positive">Save HTML</button>
            <ul>
              <li><a href="/twitter/theme/twitter-html" id="refresh-testimonial">Refresh Staged HTML</a></li>
              <li><a href="/twitter/theme/twitter-html/original" id="load-stock-testimonial">Load Original HTML</a></li>
            </ul>
          </div>
      
          <textarea id="editor_testimonial" name="data" style="width:95%; height:600px"><%= @theme.get_attribute("tweet.html").staged %></textarea>
        <% end %>

        <ul class="tokens" style="display:none">
          <li><b>Tweet Tokens</b></li>
          <% Testimonial.api_attributes.each do |a| %>
            <li><input type="text" value="{{<%= a %>}}" /></li>
          <% end%>
        </ul>
      </div>

    </div>

  </div>


  <div id="tab-help" class="tab-content">

    Hello
  </div>
   
</div>


<script type="text/javascript">
  $(function(){
    simpleTabs.init($("#js_tabs_list"), $("#js_tabs_wrapper"));
  })
</script>
