Total logs: <%= @logs_count %>

<h2>50 Top Widgets</h2>
<table class="data">
  <thead>
    <tr>
      <th>user</th>
      <th>Url</th>
      <th>#</th>
      <th>date</th>
    </tr>
  </thead>
  <tbody>
  <% @logs_top.each do |log| %>
    <tr>
      <td><%= User.find(log.user_id).email %></td>
      <td><%= link_to log.url, log.url, :target => "_blank" %></td>
      <td><%= log.impressions %></td>
       <td><abbr class="timeago" title="<%= Time.parse("#{log.created_at}").iso8601 rescue nil %>"><%= log.created_at %></abbr></td>
    </tr>
  <% end %>
  </tbody>  
</table>

<h2>50 Newest Widgets</h2>
<table class="data">
  <thead>
    <tr>
      <th>user</th>
      <th>Url</th>
      <th>#</th>
      <th>date</th>
    </tr>
  </thead>
  <tbody>
  <% @logs_new.each do |log| %>
    <tr>
      <td><%= User.find(log.user_id).email %></td>
      <td><%= link_to log.url, log.url, :target => "_blank" %></td>
      <td><%= log.impressions %></td>
       <td><abbr class="timeago" title="<%= Time.parse("#{log.created_at}").iso8601 rescue nil %>"><%= log.created_at %></abbr></td>
    </tr>
  <% end %>
  </tbody>  
</table>
