
Total users: <b><%= @users_count %></b>

<%= form_tag pinky_as_user_path << "?pk=#{params[:pk]}" do %>
  <fieldset>
    <%= text_field_tag :email %>
      <button type="submit">Login as user</button>
  </fieldset>
<% end %>

<br/>Newest Users:
<table class="data">
  <thead>
    <tr>
      <th>email</th>
      <th>login count</th>
      <th>last login</th>
    </tr>  
  </thead>
  <tbody>
  <% @users_newest.each do |user| %>
    <tr>
      <td><%= user.email%></td>
      <td><%= user.login_count %></td>
      <td><abbr class="timeago" title="<%= Time.parse("#{user.last_login_at}").iso8601 %>"><%= user.last_login_at %></abbr></td>
    </tr>
  <% end %>
  </tbody>
</table>  

<br/>Most active Users:
<table class="data">
  <thead>
    <tr>
      <th>email</th>
      <th>login count</th>
      <th>last login</th>
    </tr>  
  </thead>
  <tbody>
  <% @users_active.each do |user| %>
    <tr>
      <td><%= user.email%></td>
      <td><%= user.login_count %></td>
      <td><abbr class="timeago" title="<%= Time.parse("#{user.last_login_at}").iso8601 %>"><%= user.last_login_at %></abbr></td>
    </tr>
  <% end %>
  </tbody>
</table>