

<%= form_for @user.tconfig, :url => '/admin/settings' do |f| %>
  <div class="btn-toolbar">
    <div class="btn-group" style="float:right">
      <button type="submit" class="btn btn-success positive">Save</button>
    </div>
    <h2>Configure Form Settings.</h2>
  </div>
  
  <fieldset>
    <label>Custom Header Message.</label>
    <%= f.text_area :message, :style => 'width:100%;height:100px' %>
    <p class="indent">
      This text will display at the top of your public form.
      Place your company name here, offer incentives for submitting testimonials,
      or just give a nice thank you.
    </p>        
  </fieldset>
  
  <fieldset>
    <label>Customer Full Name</label>
    <p class="indent">
      A customer's full name is always required. You can optionally require 3 more fields:
    </p>
  </fieldset>
  
  <fieldset>
    <label>Access Key</label>
    <input type="text" name="tconfig[form][require_key]" value="<%= @user.tconfig.form['require_key'] %>" />
    <div class="indent">
      New testimonials cannot be created without <em>this</em> valid access key.
    </div>        
  </fieldset>
  
  <fieldset>
    <label>Require Email (Yes)</label> 
    <input type="checkbox" name="tconfig[form][email]" <%= 'CHECKED' if @user.tconfig.form['email'] %>/>
    <div class="indent">
      Customers are required to enter a valid email address.
      Use this option if you wish to openly collect testimonials from anyone interested in writing one.
      This way you can maintain contact with people you may not know.
    </div>        
  </fieldset>
  
  <fieldset>
    <label>Define Meta Data Name</label>
    <input type="text" name="tconfig[form][meta]" value="<%= @user.tconfig.form['meta'] %>" />
    <div class="indent">
      Customers are required to enter specific meta data defined below.
      <br/><b>Example:</b> If you wish to collect testimonials from only customers that have 
      made purchases, you can place the link onto your order confirmation page. Rather than using
      an email identifier of which you already have, you can pass the order confirmation code or customer_id as meta data.
    </div>        
  </fieldset>
<% end %>
