

<%= form_for @user_session, :as => :user_session, :url => session_path do |f| %>
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end%>
  <fieldset>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </fieldset>
  
  <fieldset>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </fieldset>
  
  <fieldset>
    <%= f.label "Yes, remember me." %>
    <%= f.check_box :remember_me %>
  </fieldset>
  
  <fieldset>
    <button type="submit">Login</button>
  </fieldset>
<% end %>

<div style="text-align:center">
  <h1>Don't have an account?</h1>
  <%= link_to "Sign Up Here", new_account_url %>
</div>  