
<div class="message-wrapper">
  <%=raw @user.tconfig.message %>
</div>

<div id="message">
  <% if flash[:notice] %>
    <%= flash[:notice] %>
  <% end %>  
</div>
<%= form_for @testimonial do |f| %>
  <%= hidden_field_tag(:apikey, params[:apikey]) if params['apikey'] %>

<% unless @user.tconfig.form["require_key"].empty? %>
  <fieldset>
    <%= text_field_tag :access_key, params[:access_key], :rel => "text_req" %>
     <label>Access Key<span class="req_star">*</span></label>
  </fieldset>
<% end %>

  <fieldset class="panda-name "> 
	  <%= f.text_field :name, :rel => "text_req" %>
     <label>Full Name<span class="req_star">*</span></label> 
  </fieldset>

<% if @user.tconfig.form["email"] %> 
  <fieldset class="panda-email "> 
	  <%= f.text_field :email, :rel => "email_req" %>
     <label>Email<span class="req_star">*</span></label> 
  </fieldset>	
<% end %>

<% unless @user.tconfig.form["meta"].empty? %>
  <fieldset class="panda-meta "> 
	  <%= f.text_field :meta, :rel => "text_req" %>
     <label><%= @user.tconfig.form["meta"] %><span class="req_star">*</span></label>
  </fieldset>
<% end %>		
	
  <fieldset class="buttons">
    <button type="submit" class="positive">Add Your Testimonial</button>
  </fieldset>
<% end %>
