
<div id="editor-wrapper">

<%= form_for @testimonial, :html => { :multipart => true, :class => "js-multipart-form" } do |f| %>
  <%= hidden_field_tag(:apikey, params[:apikey]) if params['apikey'] %>
  
  <div class="panda-image">
    <% if @testimonial.lock %>
      This Testimonial is locked!
    <% elsif flash[:notice] %>
      <%= flash[:notice] %>
    <% else %>
      Testimonial
    <% end %>
  </div>
  <div class="t-view">
    <div id="t-view-inner">
      
      <div class="t-content">    
        <div class="rating-fallback">
          Select a rating  <%= f.select(:rating, [['5 stars',5],['4 stars',4],['3 stars',3],['2 stars',2],['1 star',1]])%>
        </div>

        <div class="t-body">
          <%= f.text_area :body %>
        </div>
         
        <fieldset>
          <label>Full Name</label>
          <%= f.text_field :name %>
        </fieldset>
        
        <fieldset>
          <label>Company</label>
          <%= f.text_field :company %>
         </fieldset>

        <fieldset>
          <label>Role at Company</label>
          <%= f.text_field :c_position %>
        </fieldset>
                
        <fieldset>       
          <label>Location</label>
          <%= f.text_field :location %>
        </fieldset>
        
        <fieldset>        
          <label>Website</label>
          <%= f.text_field :url %>
        </fieldset> 
               
      </div>

      <div class="t-details">
        Upload new headshot or logo
        <%= f.file_field :avatar, :style => "width:180px" %>
        <div id="testimonial-image-wrapper" class="image" rel="<%= @testimonial.avatar.url(:sm) %>">
           <%= image_tag @testimonial.image_source %>
        </div>
        
        <!--
        <fieldset>
          <label>Select Category</label>
          (tag list)
        </fieldset>
        -->
        
        <fieldset>
          <label>Created on:</label>
          <%= @testimonial.created_at.strftime("%c") %>
        </fieldset>

        
        <div class="round-box-tabs buttons">
          <button class="submit-button positive" type="submit">Save Changes</button>
        </div>
      </div>
            
    </div>
  </div>

<% end %>
</div>



