<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>PlusPanda Admin Panel</title>

  <style type="text/css">img, div { behavior: url(iepngfix.htc) }</style> 
  <%= stylesheet_link_tag "shared/reset", "shared/buttons", 'shared/facebox', 'shared/jcrop', 'testimonials/edit', 'admin/global', 'admin/pages' %>
  
  <%= javascript_include_tag 'shared/jquery', 'shared/jquery.ui', 'facebox/facebox', 'shared/addon', 'shared/jquery.tablesorter.min' %>
    <% javascript_include_tag 'shared/jcrop', 'testimonials/binds' %>
  <%= javascript_include_tag "codemirror/codemirror" %>
  <%= javascript_include_tag 'admin/init' %>
</head>

<body>
<div id="wrapper">
  <div id="top">
    <a href="/admin">
      <img src="/images/admin/panda.png" />
    </a>
    
    <ul>
      <li><a href="/account" rel="facebox">Account</a></li>
      <li><%= link_to "Logout", admin_logout_path %></li>
    </ul>
    
    <% if @user.email.empty? %>
    <div class="user-status guest">
      <b>This Guest account will expire in 24 hours...</b>
      <br/>Would You Like to Save Your Progress?
      <form action="/admin/account/save" method="POST" class="common-ajax">
        <fieldset>
          <label>your email:</label> <input type="text" name="email" rel="email_req"/> 
          <input type="submit" value="Save My Progress" class="save-account"/>
        </fieldset>
      </form>
    </div>
    <% else %>
    <div class="user-status owner">
      Logged in as <%= @user.email %>
    </div>
    <% end %>
  </div>
  <div id="status-bar">
    <div id="submitting" style="display:none"><strong>Submitting..</strong></div>
    <div class="responding" style="display:none">&#160;</div>
  </div>  
     
  <ul id="parent_nav"> 
    <li class="display"><a href="/admin" class="active" rel="index">1. Manage Widget</a></li> 
    <li class="manage"><a href="/admin/manage" rel="manage">2. Manage Testimonials</a></li> 
    <li class="collect"><a href="/admin/collect" rel="collect">3. Collect Testimonials</a></li> 
    <li class="install"><a href="/admin/install" rel="install">4. Install On Your Site</a></li> 
  </ul>  

  <div id="main-wrapper">
    <%= yield %>
  </div>
  <div id="footer">© Copyright 2009 PlusPanda =] | <a href="#">Top</a></div>
  
</div>

<%
  themes  = ['list','simple','legacy']
  sorters = {'Creation Date' => 'created', 'Custom Positions' => 'position' }
%>
<div id="settings_form">
<%= form_for @user.tconfig, :url => '/admin/settings', :html => { :rel => "form.settings" } do |f| %>  
  <div class="round-box-top" style="text-align:center">Theme Settings</div>
  <div class="round-box-body">
    <fieldset>
      <label>Which Theme?</label> 
      <%= f.select(:theme, themes) %>
    </fieldset>
    
    <fieldset>  
      <label>Testimonials per page:</label>
      #<%= f.text_field(:per_page) %>
    </fieldset>
    
    <fieldset>
      <label>Order Testimonials by:</label>  
      <%= f.select(:sort, sorters) %>
    </fieldset>
    
    <div style="display:block; margin:10px 0;font-size:0.9em">Define custom order positions by arranging testimonials in the <b>Manage Testimonials</b> section.</div>
    <div class="round-box-tabs buttons" class="float:left;">
      <button type="submit" class="positive">Update Settings</button>
    </div> 
  </div>
<% end %>
</div>

<%
  page = request.url.split('/').last
  page = (page == "admin") ? "index" : page
%>
  <script type="text/javascript">
    $(function(){
      $(document).trigger('page.init', "<%= page %>");
    })
  </script>

<% if ::Rails.env == 'production' %>
    
<% end %>
</body>
</html>


