<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>PlusPanda Admin Panel</title>

  <style type="text/css">img, div { behavior: url(iepngfix.htc) }</style> 
  <%= stylesheet_link_tag "admin" %>
</head>

<body>
<div id="wrapper">
  <div id="top">
    <a href="/admin">
      <img src="/images/admin/panda.png" />
    </a>
    
    <ul>
      <li><a href="/account" rel="facebox">Account</a></li>
      <li><%= link_to "Logout", admin_logout_path %></li>
    </ul>
    
    <% if @user.email.empty? %>
    <div class="user-status guest">
      <b>This Guest account will expire in 24 hours...</b>
      <br/>Would You Like to Save Your Progress?
      <form action="/admin/account/save" method="POST" class="common-ajax">
        <fieldset>
          <label>your email:</label> <input type="text" name="email" rel="email_req"/> 
          <input type="submit" value="Save My Progress" class="save-account"/>
        </fieldset>
      </form>
    </div>
    <% else %>
    <div class="user-status owner">
      Logged in as <%= @user.email %>
    </div>
    <% end %>
  </div>
  <div id="status-bar">
    <div id="submitting" style="display:none"><strong>Submitting..</strong></div>
    <div class="responding" style="display:none">&#160;</div>
  </div>  
     
  <ul id="parent_nav"> 
    <li class="widget"><a href="/admin" rel="widget">1. Build Widget</a></li> 
    <li class="manage"><a href="/admin/manage" rel="manage">2. Manage Testimonials</a></li> 
    <li class="collect"><a href="/admin/collect" rel="collect">3. Collect Testimonials</a></li> 
    <li class="install"><a href="/admin/install" rel="install">4. Install On Your Site</a></li> 
  </ul>  

  <div id="main-wrapper">
    <%= yield %>
  </div>
  <div id="footer">© Copyright 2009 PlusPanda =] | <a href="#">Top</a></div>
  
</div>

<%
  themes  = ['list','simple','legacy']
  sorters = {'Creation Date' => 'created', 'Custom Positions' => 'position' }
%>
<div id="settings_form" style="display:none">
<%= form_for @user.tconfig, :url => '/admin/settings', :html => { :id => nil, :rel => "form.settings" } do |f| %>  
  <h3 style="text-align:center"> Widget Settings </h3>
  <div class="round-box-body">
    <fieldset>
      <label>Which Theme?</label> 
      <%= f.select(:theme, themes, {}, :id => nil, :class => "tconfig_theme" ) %>
    </fieldset>
    
    <fieldset>  
      <label>Testimonials per page:</label>
      #<%= f.text_field(:per_page, :id => nil, :class => "tconfig_per_page" ) %>
    </fieldset>
    
    <fieldset>
      <label>Order Testimonials by:</label>  
      <%= f.select(:sort, sorters, {}, :id => nil, :class => "tconfig_sort" ) %>
    </fieldset>
    
    <div style="display:block; margin:10px 0;font-size:0.9em">Define custom order positions by arranging testimonials in the <b>Manage Testimonials</b> section.</div>
    <div class="round-box-tabs buttons" class="float:left;">
      <button type="submit" class="positive">Update Settings</button>
    </div> 
  </div>
<% end %>
</div>


  <%= javascript_include_tag ::Rails.env == 'production' ? "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" : 'jquery/jquery' %>
  <script type="text/javascript">
    var loading = '<div class="loading">Loading...</div>';
    var widgetCss;
    var $iframe = $('<iframe width="100%" height="800px">Iframe not Supported</iframe>');
  </script>
  
  <%= javascript_include_tag "codemirror/codemirror" %>
  
  <!-- bundle -->
  <%= javascript_include_tag ::Rails.env == 'production' ? "bundle" : bundled_javascripts %>  
  <!-- end bundle -->
  
  <script type="text/javascript">
    $(function(){
      $settingsForm = $("#settings_form form");
      var page = window.location.hash ? window.location.hash.substring(1) : 'widget';
      window.onload = admin.loadPage(page);
    })
  </script>

<% if ::Rails.env == 'production' %>
  <script type="text/javascript">
  var clicky = { log: function(){ return; }, goal: function(){ return; }};
  var clicky_site_id = 66354221;
  (function() {
    var s = document.createElement('script');
    s.type = 'text/javascript';
    s.async = true;
    s.src = ( document.location.protocol == 'https:' ? 'https://static.getclicky.com/js' : 'http://static.getclicky.com/js' );
    ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
  })();
  </script>
  <noscript><p><img alt="Clicky" width="1" height="1" src="http://in.getclicky.com/66354221ns.gif" /></p></noscript>    
<% end %>
</body>
</html>


