<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>PlusPanda Admin Panel</title>

  <style type="text/css">img, div { behavior: url(iepngfix.htc) }</style> 
  <%= stylesheet_link_tag "shared/reset", "shared/buttons", 'shared/facebox', 'shared/jcrop', 'testimonials/edit', 'admin/global', 'admin/pages' %>
  
  <%= javascript_include_tag 'shared/jquery', 'shared/jquery.ui', 'facebox/facebox', 'shared/addon', 'shared/jquery.tablesorter.min' %>
    <% javascript_include_tag 'shared/jcrop', 'testimonials/binds' %>
  
  <%= javascript_include_tag 'admin/init' %>
</head>

<body>
<div id="wrapper">
  <div id="top">
    <a href="/admin">
      <img src="/images/admin/panda.png" />
    </a>
    
    <ul>
      <li><a href="/">Return Home</a></li>
      <li><a href="/account">Account</a></li>
      <li><a href="/user_session/logout">Logout</a></li>
    </ul>
    
    <% if @user.email.empty? %>
    <div class="user-status guest">
      <b>This Guest account will expire in 24 hours...</b>
      <br/>Would You Like to Save Your Progress?
      <form action="/admin/account/save" method="POST" class="common-ajax">
        <fieldset>
          <label>your email:</label> <input type="text" name="email" rel="email_req"/> 
          <input type="submit" value="Save My Progress" class="save-account"/>
        </fieldset>
      </form>
    </div>
    <% else %>
    <div class="user-status owner">
      Logged in as <%= @user.email %>
    </div>
    <% end %>
  </div>
  <div id="status-bar">
    <div id="submitting" style="display:none"><strong>Submitting..</strong></div>
    <div class="responding" style="display:none">&#160;</div>
  </div>  
     
  <ul id="parent_nav"> 
    <li class="display"><a href="/admin" class="active" rel="">1. Choose Layout</a></li> 
    <li class="manage"><a href="/admin/manage" rel="manage">2. Manage Testimonials</a></li> 
    <li class="form"><a href="/admin/form" rel="form">3. Collect Testimonials</a></li> 
    <li class="install"><a href="/admin/install" rel="install">4. Install On Your Site</a></li> 
  </ul>  

  <div id="main-wrapper">
    <%= yield %>
  </div>
  <div id="footer">© Copyright 2009 PlusPanda =] | <a href="#">Top</a></div>
  
</div>
  <script type="text/javascript">
    $(function(){
      $(document).trigger('ajaxify.form');
      $('ul.grandchild_nav li a:first').click();
      $('abbr.timeago').timeago();
    })
  </script>

<% if RAILS_ENV=='production' %>
    
<% end %>
</body>
</html>


