<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>PlusPanda SUPA admin Panel</title>
  
  <% if ::Rails.env == 'production' %>
    <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
    <%= javascript_include_tag "bundle" %>  
  <% else %>  
    <%= javascript_include_tag 'jquery/jquery' %>
    <%= javascript_include_tag bundled_javascripts %>
  <% end %>


<style type="text/css">
  html, body {font-family: verdana; font-size:12px;}
  #wrapper{
    width:800px;
    margin:auto;
  }
  table {width:50%; margin-bottom:15px;}
  th {background:#222; color:#FFF;}
  th, td {padding:5px; border:1px solid #eee;}  
</style>
</head>

<body>
<div id="wrapper">
  <%= yield %>
</div>
  <script type="text/javascript">
  $(function(){
    $("abbr").timeago();
    
    $("table.data").tablesorter({
      headers:{
        //0:{sorter:false},
        //1:{sorter:false},
        //9:{sorter:false},
        //10:{sorter:false},
        //11:{sorter:false}
      }
    })
  })
  </script>

<% if ::Rails.env == 'production' %>
    
<% end %>
</body>
</html>


